{
    email caddy@{$DOMAIN}
}

http://turn.{$DOMAIN} {
    handle /.well-known/acme-challenge/* {
        root * /srv/leamout-acme
        file_server
    }

    respond 404
}

api.{$DOMAIN} {
    reverse_proxy server:8080

    header {
        -Server
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
        Strict-Transport-Security "max-age=31536000"
    }

    log {
        output stdout
        format json
    }
}

recordings.{$DOMAIN} {
    reverse_proxy minio:9000

    header {
        -Server
        X-Content-Type-Options "nosniff"
        Strict-Transport-Security "max-age=31536000"
    }
}
