package subscribers

import "github.com/leamout/leamout/internal/backoffice/components"

templ Page(items []Subscriber) {
	@components.ResourceListPage(listProps(items))
}

templ DetailPage(item Detail) {
	@components.ResourceDetailPage(detailProps(item))
}
